node_modules
aot
public/build
npm-debug.log
.idea
logs
.DS_Store
coverage
.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
