files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTP Server

      server {
        listen 80;
        server_name localhost;

        location /.well-know {
          root /tmp;
        }

        location / {
          return 301 https://www.adrien.tech$request_uri;
        }
      }

      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/letsencrypt/live/www.adrien.tech/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/www.adrien.tech/privkey.pem;

        ssl_trusted_certificate /etc/letsencrypt/live/www.adrien.tech/fullchain.pem;
        ssl_stapling on;
        ssl_stapling_verify on;

        resolver 80.67.169.12 80.67.169.40 8.8.8.8 8.8.4.4 208.67.222.222 208.67.220.220 216.146.35.35 216.146.36.36 valid=300s;
        resolver_timeout 3s;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1.2;
        ssl_ecdh_curve secp384r1;

        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        ssl_session_cache shared:SSL:20m;
        ssl_session_tickets off;

        add_header Strict-Transport-Security "max-age=15552000";

        add_header Content-Security-Policy "default-src 'self' https://*.gstatic.com https://*.googleapis.com data: 'unsafe-inline' 'unsafe-eval'";
        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        add_header Referrer-Policy "no-referrer";

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
