<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <title>Ahead of time compilation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
    <base href="<%= baseHref %>">

    <!--STYLES-->
    <!--STYLES END-->

  </head>

  <body>
    <app>
    </app>
  </body>

  <script>
    window.cdn = {
      one: '<%= CONF.env.cdn.one %>',
      two: '<%= CONF.env.cdn.one %>',
      three: '<%= CONF.env.cdn.one %>',
    };
  </script>

  <!--SCRIPTS POLYFILLS-->
  <!--SCRIPTS POLYFILLS END-->

  <% include ./partials/scripts %>

</html>
