<h1>{{'ajs_h1' | i18n}}</h1>
<div class="line">
  <div class="row">
    <codemirror *ngIf="!isSsr"
                (ngModelChange)="onChange('html', $event)"
                [ngModel]="code.html"
                [config]="config.html">
    </codemirror>
  </div>
  <div class="row">
    <codemirror *ngIf="!isSsr"
                (ngModelChange)="onChange('css', $event)"
                [ngModel]="code.css"
                [config]="config.css">
    </codemirror>
  </div>
</div>
<div class="line">
  <div class="row">
    <codemirror *ngIf="!isSsr"
                (ngModelChange)="onChange('ts', $event)"
                [ngModel]="code.ts"
                [config]="config.ts">
    </codemirror>
  </div>
  <div class="row">
    <iframe #iframe></iframe>
  </div>
</div>
