@font-face {
  font-family: 'Icon54solid';
  src:  url('../fonts/Icon54solid.eot?g563h4');
  src:  url('../fonts/Icon54solid.eot?g563h4#iefix') format('embedded-opentype'),
    url('../fonts/Icon54solid.ttf?g563h4') format('truetype'),
    url('../fonts/Icon54solid.woff?g563h4') format('woff'),
    url('../fonts/Icon54solid.svg?g563h4#Icon54solid') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"][class$="-solid"], [class*=" icon-"][class*="-solid"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icon54solid' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-year-aniversary-2-solid:before {
  content: "\e900";
}
.icon-year-aniversary-solid:before {
  content: "\e901";
}
.icon-st-Place-solid:before {
  content: "\e902";
}
.icon-nd-Place-solid:before {
  content: "\e903";
}
.icon-D-File-solid:before {
  content: "\e904";
}
.icon-DS-solid:before {
  content: "\e905";
}
.icon-rd-Place-solid:before {
  content: "\e906";
}
.icon-Stars-solid:before {
  content: "\e907";
}
.icon-year-aniversary-22-solid:before {
  content: "\e908";
}
.icon-year-aniversary2-solid:before {
  content: "\e909";
}
.icon-year-aniversary-23-solid:before {
  content: "\e90a";
}
.icon-year-aniversary3-solid:before {
  content: "\e90b";
}
.icon-Accessibility-solid:before {
  content: "\e90c";
}
.icon-Acorn-solid:before {
  content: "\e90d";
}
.icon-Add-App-solid:before {
  content: "\e90e";
}
.icon-Add-Award-Badge-solid:before {
  content: "\e90f";
}
.icon-Add-Heart-solid:before {
  content: "\e910";
}
.icon-Add-House-solid:before {
  content: "\e911";
}
.icon-Add-Note-solid:before {
  content: "\e912";
}
.icon-Add-Post-It-solid:before {
  content: "\e913";
}
.icon-Add-Rating-solid:before {
  content: "\e914";
}
.icon-Add-Task-solid:before {
  content: "\e915";
}
.icon-Addon-solid:before {
  content: "\e916";
}
.icon-Air-balloon-solid:before {
  content: "\e917";
}
.icon-Air-condition-solid:before {
  content: "\e918";
}
.icon-Airplane-solid:before {
  content: "\e919";
}
.icon-Airport-solid:before {
  content: "\e91a";
}
.icon-Allert-app-solid:before {
  content: "\e91b";
}
.icon-Allow-Copying-solid:before {
  content: "\e91c";
}
.icon-Allow-Redistribution-solid:before {
  content: "\e91d";
}
.icon-Almond-solid:before {
  content: "\e91e";
}
.icon-Analitics-solid:before {
  content: "\e91f";
}
.icon-Ananas-solid:before {
  content: "\e920";
}
.icon-Anchor-solid:before {
  content: "\e921";
}
.icon-Angle-Ruler-solid:before {
  content: "\e922";
}
.icon-App-1-solid:before {
  content: "\e923";
}
.icon-APP-2-solid:before {
  content: "\e924";
}
.icon-App-Error-solid:before {
  content: "\e925";
}
.icon-App-Settings-solid:before {
  content: "\e926";
}
.icon-App-Tile-Task-solid:before {
  content: "\e927";
}
.icon-App-Window-solid:before {
  content: "\e928";
}
.icon-Apple-solid:before {
  content: "\e929";
}
.icon-Application-User-solid:before {
  content: "\e92a";
}
.icon-Application-solid:before {
  content: "\e92b";
}
.icon-Arc-de-Triomphe-solid:before {
  content: "\e92c";
}
.icon-Architecture-solid:before {
  content: "\e92d";
}
.icon-Arrived-solid:before {
  content: "\e92e";
}
.icon-Arriving-solid:before {
  content: "\e92f";
}
.icon-Artichoke-solid:before {
  content: "\e930";
}
.icon-Asparagus-solid:before {
  content: "\e931";
}
.icon-Atach-Post-It-solid:before {
  content: "\e932";
}
.icon-Atention-Note-solid:before {
  content: "\e933";
}
.icon-Atention-Task-solid:before {
  content: "\e934";
}
.icon-Attach-App-solid:before {
  content: "\e935";
}
.icon-Attache-Note-solid:before {
  content: "\e936";
}
.icon-Attache-Task-solid:before {
  content: "\e937";
}
.icon-Attention-House-solid:before {
  content: "\e938";
}
.icon-Attention-Post-It-solid:before {
  content: "\e939";
}
.icon-Attention-solid:before {
  content: "\e93a";
}
.icon-Avocado-solid:before {
  content: "\e93b";
}
.icon-Award-1-solid:before {
  content: "\e93c";
}
.icon-Award-2-solid:before {
  content: "\e93d";
}
.icon-Award-Badge-Shopping-solid:before {
  content: "\e93e";
}
.icon-Award-Stamp-2-solid:before {
  content: "\e93f";
}
.icon-Award-Stamp-solid:before {
  content: "\e940";
}
.icon-Axe-solid:before {
  content: "\e941";
}
.icon-Badge-Star-solid:before {
  content: "\e942";
}
.icon-Bag-conveyer-solid:before {
  content: "\e943";
}
.icon-Bag-weight-solid:before {
  content: "\e944";
}
.icon-Bag-solid:before {
  content: "\e945";
}
.icon-Bakelite-solid:before {
  content: "\e946";
}
.icon-Ball-solid:before {
  content: "\e947";
}
.icon-Banana-solid:before {
  content: "\e948";
}
.icon-Bank-1-solid:before {
  content: "\e949";
}
.icon-Bank-2-solid:before {
  content: "\e94a";
}
.icon-Barber-Shop-solid:before {
  content: "\e94b";
}
.icon-Barber\'s-Razor-solid:before {
  content: "\e94c";
}
.icon-Barcode-App-solid:before {
  content: "\e94d";
}
.icon-Barn-solid:before {
  content: "\e94e";
}
.icon-Barrow-solid:before {
  content: "\e94f";
}
.icon-Basic-Shape-2-solid:before {
  content: "\e950";
}
.icon-Basic-Shape-solid:before {
  content: "\e951";
}
.icon-Basketball-Cup-solid:before {
  content: "\e952";
}
.icon-Bathroom-Cabinet-1-solid:before {
  content: "\e953";
}
.icon-Batroom-Cabinet-2-solid:before {
  content: "\e954";
}
.icon-Beard-1-solid:before {
  content: "\e955";
}
.icon-Beard-2-solid:before {
  content: "\e956";
}
.icon-Beard-3-solid:before {
  content: "\e957";
}
.icon-Beard-4-solid:before {
  content: "\e958";
}
.icon-Bed-1-solid:before {
  content: "\e959";
}
.icon-Bed-2-solid:before {
  content: "\e95a";
}
.icon-Bed-3-solid:before {
  content: "\e95b";
}
.icon-Bed-4-solid:before {
  content: "\e95c";
}
.icon-Bench-solid:before {
  content: "\e95d";
}
.icon-Berlin-TV-Tower-solid:before {
  content: "\e95e";
}
.icon-Bicycle-1-solid:before {
  content: "\e95f";
}
.icon-Bicycle-2-solid:before {
  content: "\e960";
}
.icon-Big-Ben-solid:before {
  content: "\e961";
}
.icon-Binar-Code-2-solid:before {
  content: "\e962";
}
.icon-Binar-Code-solid:before {
  content: "\e963";
}
.icon-Bishop-1-solid:before {
  content: "\e964";
}
.icon-Bishop-2-solid:before {
  content: "\e965";
}
.icon-Bitcoin-App-solid:before {
  content: "\e966";
}
.icon-Blueberries-solid:before {
  content: "\e967";
}
.icon-Bologna-solid:before {
  content: "\e968";
}
.icon-Booklet-Female-1-solid:before {
  content: "\e969";
}
.icon-Booklet-Female-2-solid:before {
  content: "\e96a";
}
.icon-Booklet-Male-1-solid:before {
  content: "\e96b";
}
.icon-Booklet-Male-2-solid:before {
  content: "\e96c";
}
.icon-Bookmark-App-solid:before {
  content: "\e96d";
}
.icon-Bow-1-solid:before {
  content: "\e96e";
}
.icon-Bow-2-solid:before {
  content: "\e96f";
}
.icon-Brick-Gouse-solid:before {
  content: "\e970";
}
.icon-Brick-solid:before {
  content: "\e971";
}
.icon-Bridge-1-solid:before {
  content: "\e972";
}
.icon-Bridge-2-solid:before {
  content: "\e973";
}
.icon-Broccoli-solid:before {
  content: "\e974";
}
.icon-Bucket-solid:before {
  content: "\e975";
}
.icon-Bug-Fix-solid:before {
  content: "\e976";
}
.icon-Bug-solid:before {
  content: "\e977";
}
.icon-BullDozer-solid:before {
  content: "\e978";
}
.icon-Burj-Khalifa-Dubai-solid:before {
  content: "\e979";
}
.icon-Bus-Station-solid:before {
  content: "\e97a";
}
.icon-C-plus-plus-1-solid:before {
  content: "\e97b";
}
.icon-C-plus-plus-2-solid:before {
  content: "\e97c";
}
.icon-Cabbage-solid:before {
  content: "\e97d";
}
.icon-Cabinet-1-solid:before {
  content: "\e97e";
}
.icon-Cabinet-2-solid:before {
  content: "\e97f";
}
.icon-Cabinet-3-solid:before {
  content: "\e980";
}
.icon-Cabinet-4-solid:before {
  content: "\e981";
}
.icon-Cabinet-5-solid:before {
  content: "\e982";
}
.icon-Calippers-solid:before {
  content: "\e983";
}
.icon-Camera-solid:before {
  content: "\e984";
}
.icon-Caravan-solid:before {
  content: "\e985";
}
.icon-Carrot-solid:before {
  content: "\e986";
}
.icon-Cashew-solid:before {
  content: "\e987";
}
.icon-Castle-solid:before {
  content: "\e988";
}
.icon-Castte-solid:before {
  content: "\e989";
}
.icon-Cement-Trovel-solid:before {
  content: "\e98a";
}
.icon-Cemetery-solid:before {
  content: "\e98b";
}
.icon-Central-Television-Beijing-solid:before {
  content: "\e98c";
}
.icon-Chain-Sawe-solid:before {
  content: "\e98d";
}
.icon-Chair-1-solid:before {
  content: "\e98e";
}
.icon-Chair-2-solid:before {
  content: "\e98f";
}
.icon-Chair-3-solid:before {
  content: "\e990";
}
.icon-Change-House-solid:before {
  content: "\e991";
}
.icon-Chat-App-solid:before {
  content: "\e992";
}
.icon-Cherry-Tomato-solid:before {
  content: "\e993";
}
.icon-Cherry-solid:before {
  content: "\e994";
}
.icon-Chess-Board-solid:before {
  content: "\e995";
}
.icon-Chess-Clock-solid:before {
  content: "\e996";
}
.icon-Chili-solid:before {
  content: "\e997";
}
.icon-Chinese-Lettuce-solid:before {
  content: "\e998";
}
.icon-Church-1-solid:before {
  content: "\e999";
}
.icon-Church-2-solid:before {
  content: "\e99a";
}
.icon-Circle-Star-solid:before {
  content: "\e99b";
}
.icon-Circle-solid:before {
  content: "\e99c";
}
.icon-Clean-Code-solid:before {
  content: "\e99d";
}
.icon-Clear-House-solid:before {
  content: "\e99e";
}
.icon-Clear-Note-solid:before {
  content: "\e99f";
}
.icon-Clear-Post-It-solid:before {
  content: "\e9a0";
}
.icon-Clear-Rating-solid:before {
  content: "\e9a1";
}
.icon-Clear-Task-solid:before {
  content: "\e9a2";
}
.icon-Clipboard-Pencil-solid:before {
  content: "\e9a3";
}
.icon-Clipboard-solid:before {
  content: "\e9a4";
}
.icon-Clipboard2-solid:before {
  content: "\e9a5";
}
.icon-Cliped-Post-It-solid:before {
  content: "\e9a6";
}
.icon-Cloud-App-solid:before {
  content: "\e9a7";
}
.icon-Clove-solid:before {
  content: "\e9a8";
}
.icon-Cocktail-solid:before {
  content: "\e9a9";
}
.icon-Cocoa-Pod-solid:before {
  content: "\e9aa";
}
.icon-Coconut-solid:before {
  content: "\e9ab";
}
.icon-Code-1-solid:before {
  content: "\e9ac";
}
.icon-Code-2-solid:before {
  content: "\e9ad";
}
.icon-Code-Doc-solid:before {
  content: "\e9ae";
}
.icon-Colosseum-solid:before {
  content: "\e9af";
}
.icon-Comb-1-solid:before {
  content: "\e9b0";
}
.icon-Comb-2-solid:before {
  content: "\e9b1";
}
.icon-Compass-solid:before {
  content: "\e9b2";
}
.icon-Computer-App-solid:before {
  content: "\e9b3";
}
.icon-Computer-User-solid:before {
  content: "\e9b4";
}
.icon-Cone-2-solid:before {
  content: "\e9b5";
}
.icon-Cone-3-solid:before {
  content: "\e9b6";
}
.icon-Cone-solid:before {
  content: "\e9b7";
}
.icon-Connecting-Users-solid:before {
  content: "\e9b8";
}
.icon-Content-View-solid:before {
  content: "\e9b9";
}
.icon-Cop-Badge-solid:before {
  content: "\e9ba";
}
.icon-Copyright-App-solid:before {
  content: "\e9bb";
}
.icon-Copyright-Doc-solid:before {
  content: "\e9bc";
}
.icon-Copyright-solid:before {
  content: "\e9bd";
}
.icon-Corel-File-solid:before {
  content: "\e9be";
}
.icon-Couch-1-solid:before {
  content: "\e9bf";
}
.icon-Couch-2-solid:before {
  content: "\e9c0";
}
.icon-Couch-3-solid:before {
  content: "\e9c1";
}
.icon-Crain-Hook-solid:before {
  content: "\e9c2";
}
.icon-Crain-solid:before {
  content: "\e9c3";
}
.icon-Creative-Commun-doc-solid:before {
  content: "\e9c4";
}
.icon-Creative-Commun-solid:before {
  content: "\e9c5";
}
.icon-Css-2-solid:before {
  content: "\e9c6";
}
.icon-css-3-solid:before {
  content: "\e9c7";
}
.icon-Css1-solid:before {
  content: "\e9c8";
}
.icon-Cube-2-solid:before {
  content: "\e9c9";
}
.icon-Cube-3-solid:before {
  content: "\e9ca";
}
.icon-Cube-solid:before {
  content: "\e9cb";
}
.icon-Cup-2-solid:before {
  content: "\e9cc";
}
.icon-Cup-3-solid:before {
  content: "\e9cd";
}
.icon-Cut-solid:before {
  content: "\e9ce";
}
.icon-Cutlery-solid:before {
  content: "\e9cf";
}
.icon-Cutter-solid:before {
  content: "\e9d0";
}
.icon-Cylinder-2-solid:before {
  content: "\e9d1";
}
.icon-Cylinder-3-solid:before {
  content: "\e9d2";
}
.icon-Cylinder-solid:before {
  content: "\e9d3";
}
.icon-Database-solid:before {
  content: "\e9d4";
}
.icon-Deer-solid:before {
  content: "\e9d5";
}
.icon-Dekaeder-2-solid:before {
  content: "\e9d6";
}
.icon-Dekaeder-3-solid:before {
  content: "\e9d7";
}
.icon-Dekaeder-solid:before {
  content: "\e9d8";
}
.icon-Delete-Note-solid:before {
  content: "\e9d9";
}
.icon-Delete-Post-It-solid:before {
  content: "\e9da";
}
.icon-Delete-Task-solid:before {
  content: "\e9db";
}
.icon-Departed-solid:before {
  content: "\e9dc";
}
.icon-Departing-solid:before {
  content: "\e9dd";
}
.icon-Design-Document-solid:before {
  content: "\e9de";
}
.icon-Detail-View-solid:before {
  content: "\e9df";
}
.icon-Detailes-Pane-solid:before {
  content: "\e9e0";
}
.icon-Diploma-solid:before {
  content: "\e9e1";
}
.icon-Disabled-man-solid:before {
  content: "\e9e2";
}
.icon-Disc-Cutter-solid:before {
  content: "\e9e3";
}
.icon-Discount-Sticker-solid:before {
  content: "\e9e4";
}
.icon-Dislike-solid:before {
  content: "\e9e5";
}
.icon-Dismiss-App-solid:before {
  content: "\e9e6";
}
.icon-Dismiss-Award-Badge-solid:before {
  content: "\e9e7";
}
.icon-Dismiss-Heart-solid:before {
  content: "\e9e8";
}
.icon-Dismiss-Rating-solid:before {
  content: "\e9e9";
}
.icon-Diving-goggles-solid:before {
  content: "\e9ea";
}
.icon-Dodekaeder-1-solid:before {
  content: "\e9eb";
}
.icon-Dodekaeder-2-solid:before {
  content: "\e9ec";
}
.icon-Dodekaeder-3-solid:before {
  content: "\e9ed";
}
.icon-Dodekaeder-4-solid:before {
  content: "\e9ee";
}
.icon-Dog-Tag-solid:before {
  content: "\e9ef";
}
.icon-Dollar-App-solid:before {
  content: "\e9f0";
}
.icon-Dollar-House-solid:before {
  content: "\e9f1";
}
.icon-Done-App-solid:before {
  content: "\e9f2";
}
.icon-Done-Award-Badge-solid:before {
  content: "\e9f3";
}
.icon-Done-Heart-solid:before {
  content: "\e9f4";
}
.icon-Done-House-solid:before {
  content: "\e9f5";
}
.icon-Done-Note-solid:before {
  content: "\e9f6";
}
.icon-Done-Post-It-solid:before {
  content: "\e9f7";
}
.icon-Done-Rating-solid:before {
  content: "\e9f8";
}
.icon-Done-Task-solid:before {
  content: "\e9f9";
}
.icon-Door-solid:before {
  content: "\e9fa";
}
.icon-Download-App-solid:before {
  content: "\e9fb";
}
.icon-Download-Note-solid:before {
  content: "\e9fc";
}
.icon-Download-Post-It-solid:before {
  content: "\e9fd";
}
.icon-Download-Task-solid:before {
  content: "\e9fe";
}
.icon-Download-solid:before {
  content: "\e9ff";
}
.icon-Drag-and-Drop-solid:before {
  content: "\ea00";
}
.icon-Dream-House-solid:before {
  content: "\ea01";
}
.icon-Drilling-Machine-2-solid:before {
  content: "\ea02";
}
.icon-Drilling-Machine-solid:before {
  content: "\ea03";
}
.icon-Drive-App-solid:before {
  content: "\ea04";
}
.icon-Driver-Licence-Female-solid:before {
  content: "\ea05";
}
.icon-Driver-License-Male-solid:before {
  content: "\ea06";
}
.icon-Dropbox-App-solid:before {
  content: "\ea07";
}
.icon-Dubai-solid:before {
  content: "\ea08";
}
.icon-Durian-solid:before {
  content: "\ea09";
}
.icon-DWG-solid:before {
  content: "\ea0a";
}
.icon-DXF-solid:before {
  content: "\ea0b";
}
.icon-Earth-Map-solid:before {
  content: "\ea0c";
}
.icon-Easter-Island-solid:before {
  content: "\ea0d";
}
.icon-Eat-Heart-solid:before {
  content: "\ea0e";
}
.icon-Eating-Award-Badge-solid:before {
  content: "\ea0f";
}
.icon-Eco-House-solid:before {
  content: "\ea10";
}
.icon-Edit-App-solid:before {
  content: "\ea11";
}
.icon-Edit-Note-solid:before {
  content: "\ea12";
}
.icon-Edit-Post-It-solid:before {
  content: "\ea13";
}
.icon-Edit-Task-solid:before {
  content: "\ea14";
}
.icon-Eggplant-solid:before {
  content: "\ea15";
}
.icon-Egypt-Pyramid-solid:before {
  content: "\ea16";
}
.icon-Eiffel-Tower-solid:before {
  content: "\ea17";
}
.icon-Elevator-solid:before {
  content: "\ea18";
}
.icon-Email-App-1-solid:before {
  content: "\ea19";
}
.icon-Email-App-2-solid:before {
  content: "\ea1a";
}
.icon-EMF-solid:before {
  content: "\ea1b";
}
.icon-Empire-State-Building-solid:before {
  content: "\ea1c";
}
.icon-Empty-Star-solid:before {
  content: "\ea1d";
}
.icon-EPS-solid:before {
  content: "\ea1e";
}
.icon-Equalizer-solid:before {
  content: "\ea1f";
}
.icon-Escalator-down-solid:before {
  content: "\ea20";
}
.icon-Escalator-up-solid:before {
  content: "\ea21";
}
.icon-Euro-App-solid:before {
  content: "\ea22";
}
.icon-Euro-House-solid:before {
  content: "\ea23";
}
.icon-Exhibition-solid:before {
  content: "\ea24";
}
.icon-Exit-Full-Screen-solid:before {
  content: "\ea25";
}
.icon-Exit-solid:before {
  content: "\ea26";
}
.icon-Factory-solid:before {
  content: "\ea27";
}
.icon-Favorite-App-1-solid:before {
  content: "\ea28";
}
.icon-Favorite-App-solid:before {
  content: "\ea29";
}
.icon-Favorite-House-solid:before {
  content: "\ea2a";
}
.icon-Favorite-Restaurant-solid:before {
  content: "\ea2b";
}
.icon-Female-Circle-1-solid:before {
  content: "\ea2c";
}
.icon-Female-Circle-2-solid:before {
  content: "\ea2d";
}
.icon-Female-Group-1-solid:before {
  content: "\ea2e";
}
.icon-Female-Group-2-solid:before {
  content: "\ea2f";
}
.icon-Fence-solid:before {
  content: "\ea30";
}
.icon-Fennel-solid:before {
  content: "\ea31";
}
.icon-Ferris-Wheel-solid:before {
  content: "\ea32";
}
.icon-Figs-solid:before {
  content: "\ea33";
}
.icon-Fire-Station-solid:before {
  content: "\ea34";
}
.icon-Firewall-solid:before {
  content: "\ea35";
}
.icon-First-ad-solid:before {
  content: "\ea36";
}
.icon-Flashlight-solid:before {
  content: "\ea37";
}
.icon-Flippers-solid:before {
  content: "\ea38";
}
.icon-Flow-Chart-4-solid:before {
  content: "\ea39";
}
.icon-Flow-Chat-1-solid:before {
  content: "\ea3a";
}
.icon-Flow-Chat-2-solid:before {
  content: "\ea3b";
}
.icon-Folder-Female-solid:before {
  content: "\ea3c";
}
.icon-Folder-Male-solid:before {
  content: "\ea3d";
}
.icon-Footer-solid:before {
  content: "\ea3e";
}
.icon-For-Rent-solid:before {
  content: "\ea3f";
}
.icon-For-Sale-solid:before {
  content: "\ea40";
}
.icon-Fork-Lift-solid:before {
  content: "\ea41";
}
.icon-Fountain-solid:before {
  content: "\ea42";
}
.icon-Fow-Chat-3-solid:before {
  content: "\ea43";
}
.icon-Fragile-solid:before {
  content: "\ea44";
}
.icon-Free-Sticker-solid:before {
  content: "\ea45";
}
.icon-Fuel-Station-solid:before {
  content: "\ea46";
}
.icon-Full-Screen-solid:before {
  content: "\ea47";
}
.icon-Full-Star-solid:before {
  content: "\ea48";
}
.icon-Gallery-App-solid:before {
  content: "\ea49";
}
.icon-Gallery-View-solid:before {
  content: "\ea4a";
}
.icon-Game-App-solid:before {
  content: "\ea4b";
}
.icon-Garage-solid:before {
  content: "\ea4c";
}
.icon-Garden-solid:before {
  content: "\ea4d";
}
.icon-Garlic-solid:before {
  content: "\ea4e";
}
.icon-Ginger-solid:before {
  content: "\ea4f";
}
.icon-Glasses-1-solid:before {
  content: "\ea50";
}
.icon-Glasses-2-solid:before {
  content: "\ea51";
}
.icon-Glasses-3-solid:before {
  content: "\ea52";
}
.icon-Glasses-4-solid:before {
  content: "\ea53";
}
.icon-Glasses-5-solid:before {
  content: "\ea54";
}
.icon-Global-Award-Badge-solid:before {
  content: "\ea55";
}
.icon-Global-Heart-solid:before {
  content: "\ea56";
}
.icon-Global-Rating-solid:before {
  content: "\ea57";
}
.icon-Global-User-solid:before {
  content: "\ea58";
}
.icon-Global-solid:before {
  content: "\ea59";
}
.icon-Globe-House-solid:before {
  content: "\ea5a";
}
.icon-Golden-Gate-Bridge-solid:before {
  content: "\ea5b";
}
.icon-Golden-Globe-solid:before {
  content: "\ea5c";
}
.icon-Grain-solid:before {
  content: "\ea5d";
}
.icon-Grape-solid:before {
  content: "\ea5e";
}
.icon-Great-Wall-solid:before {
  content: "\ea5f";
}
.icon-Grid-1-solid:before {
  content: "\ea60";
}
.icon-Grid-2-solid:before {
  content: "\ea61";
}
.icon-Group-1-solid:before {
  content: "\ea62";
}
.icon-Group-2-solid:before {
  content: "\ea63";
}
.icon-Group-Defense-solid:before {
  content: "\ea64";
}
.icon-Group-Download-solid:before {
  content: "\ea65";
}
.icon-Group-Shopping-solid:before {
  content: "\ea66";
}
.icon-Group-Statistics-solid:before {
  content: "\ea67";
}
.icon-Group-Upload-solid:before {
  content: "\ea68";
}
.icon-Hair-Band-solid:before {
  content: "\ea69";
}
.icon-Half-Star-solid:before {
  content: "\ea6a";
}
.icon-Hammer-solid:before {
  content: "\ea6b";
}
.icon-Hand-washing-solid:before {
  content: "\ea6c";
}
.icon-Hanger-solid:before {
  content: "\ea6d";
}
.icon-Haricot-solid:before {
  content: "\ea6e";
}
.icon-Hat-1-solid:before {
  content: "\ea6f";
}
.icon-Hat-2-solid:before {
  content: "\ea70";
}
.icon-Hat-3-solid:before {
  content: "\ea71";
}
.icon-Hat-4-solid:before {
  content: "\ea72";
}
.icon-Hat-Portrait-Frame-solid:before {
  content: "\ea73";
}
.icon-Hazelnut-solid:before {
  content: "\ea74";
}
.icon-Header-solid:before {
  content: "\ea75";
}
.icon-Headset-solid:before {
  content: "\ea76";
}
.icon-Heart-Flag-solid:before {
  content: "\ea77";
}
.icon-Heart-Full-solid:before {
  content: "\ea78";
}
.icon-Heart-Half-solid:before {
  content: "\ea79";
}
.icon-Heart-Shopping-solid:before {
  content: "\ea7a";
}
.icon-Heart-Waiting-solid:before {
  content: "\ea7b";
}
.icon-Hearts-Empty-solid:before {
  content: "\ea7c";
}
.icon-Heavy-solid:before {
  content: "\ea7d";
}
.icon-Helmet-solid:before {
  content: "\ea7e";
}
.icon-Hexaeder-1-solid:before {
  content: "\ea7f";
}
.icon-Hexaeder-2-solid:before {
  content: "\ea80";
}
.icon-Hexaeder-3-solid:before {
  content: "\ea81";
}
.icon-Hexagon-solid:before {
  content: "\ea82";
}
.icon-Hexagonal-Cone-2-solid:before {
  content: "\ea83";
}
.icon-Hexagonal-Cone-3-solid:before {
  content: "\ea84";
}
.icon-Hexagonal-Cone-solid:before {
  content: "\ea85";
}
.icon-Hexagonal-Cylinder-2-solid:before {
  content: "\ea86";
}
.icon-Hexagonal-Cylinder-3-solid:before {
  content: "\ea87";
}
.icon-Hexagonal-Cylinder-solid:before {
  content: "\ea88";
}
.icon-High-voltage-solid:before {
  content: "\ea89";
}
.icon-Hoist-solid:before {
  content: "\ea8a";
}
.icon-Hoist2-solid:before {
  content: "\ea8b";
}
.icon-Hold-Heart-solid:before {
  content: "\ea8c";
}
.icon-Hold-Male-solid:before {
  content: "\ea8d";
}
.icon-Hold-Star-solid:before {
  content: "\ea8e";
}
.icon-Home-App-solid:before {
  content: "\ea8f";
}
.icon-Home-solid:before {
  content: "\ea90";
}
.icon-Honeymelon-solid:before {
  content: "\ea91";
}
.icon-Hospital-solid:before {
  content: "\ea92";
}
.icon-Hot-drink-solid:before {
  content: "\ea93";
}
.icon-Hot-Sticker-solid:before {
  content: "\ea94";
}
.icon-Hotel-1-solid:before {
  content: "\ea95";
}
.icon-Hotel-2-solid:before {
  content: "\ea96";
}
.icon-Hotel-3-solid:before {
  content: "\ea97";
}
.icon-Hotel-4-solid:before {
  content: "\ea98";
}
.icon-House-1-solid:before {
  content: "\ea99";
}
.icon-House-12-solid:before {
  content: "\ea9a";
}
.icon-House-2-solid:before {
  content: "\ea9b";
}
.icon-House-22-solid:before {
  content: "\ea9c";
}
.icon-House-3-solid:before {
  content: "\ea9d";
}
.icon-House-4-solid:before {
  content: "\ea9e";
}
.icon-House-5-solid:before {
  content: "\ea9f";
}
.icon-House-6-solid:before {
  content: "\eaa0";
}
.icon-House-7-solid:before {
  content: "\eaa1";
}
.icon-House-8-solid:before {
  content: "\eaa2";
}
.icon-House-9-solid:before {
  content: "\eaa3";
}
.icon-House-Care-solid:before {
  content: "\eaa4";
}
.icon-House-Delay-solid:before {
  content: "\eaa5";
}
.icon-House-Dimensions-solid:before {
  content: "\eaa6";
}
.icon-House-Discount-solid:before {
  content: "\eaa7";
}
.icon-House-Insurance-solid:before {
  content: "\eaa8";
}
.icon-House-Key-2-solid:before {
  content: "\eaa9";
}
.icon-House-Key-3-solid:before {
  content: "\eaaa";
}
.icon-House-Key-solid:before {
  content: "\eaab";
}
.icon-House-Location-solid:before {
  content: "\eaac";
}
.icon-Html-1-solid:before {
  content: "\eaad";
}
.icon-Html-2-solid:before {
  content: "\eaae";
}
.icon-html-5-solid:before {
  content: "\eaaf";
}
.icon-http-1-solid:before {
  content: "\eab0";
}
.icon-Http-2-solid:before {
  content: "\eab1";
}
.icon-ID-Female-solid:before {
  content: "\eab2";
}
.icon-ID-Male-solid:before {
  content: "\eab3";
}
.icon-ID-Photo-solid:before {
  content: "\eab4";
}
.icon-Ikosaeder-2-solid:before {
  content: "\eab5";
}
.icon-Illustrator-file-solid:before {
  content: "\eab6";
}
.icon-Indesign-solid:before {
  content: "\eab7";
}
.icon-Information-booklet-solid:before {
  content: "\eab8";
}
.icon-Information-solid:before {
  content: "\eab9";
}
.icon-Ironing-1-solid:before {
  content: "\eaba";
}
.icon-Ironing-2-solid:before {
  content: "\eabb";
}
.icon-Isolation-Mode-solid:before {
  content: "\eabc";
}
.icon-Israel-solid:before {
  content: "\eabd";
}
.icon-Jack-Hammer-solid:before {
  content: "\eabe";
}
.icon-Java-1-solid:before {
  content: "\eabf";
}
.icon-Java-2-solid:before {
  content: "\eac0";
}
.icon-Java-Script-solid:before {
  content: "\eac1";
}
.icon-Jet-ski-solid:before {
  content: "\eac2";
}
.icon-Jsx-1-solid:before {
  content: "\eac3";
}
.icon-Jsx-2-solid:before {
  content: "\eac4";
}
.icon-Kenu-solid:before {
  content: "\eac5";
}
.icon-Key-Hold-solid:before {
  content: "\eac6";
}
.icon-Kilimanjaro-solid:before {
  content: "\eac7";
}
.icon-King-1-solid:before {
  content: "\eac8";
}
.icon-King-2-solid:before {
  content: "\eac9";
}
.icon-Kiwi-solid:before {
  content: "\eaca";
}
.icon-Knight-1-solid:before {
  content: "\eacb";
}
.icon-Knight-2-solid:before {
  content: "\eacc";
}
.icon-Ladder-solid:before {
  content: "\eacd";
}
.icon-Ladies-Bag-solid:before {
  content: "\eace";
}
.icon-Lamp-1-solid:before {
  content: "\eacf";
}
.icon-Lamp-2-solid:before {
  content: "\ead0";
}
.icon-Lamp-3-solid:before {
  content: "\ead1";
}
.icon-Large-Icons-View-solid:before {
  content: "\ead2";
}
.icon-Layer-43-solid:before {
  content: "\ead3";
}
.icon-Left-items-solid:before {
  content: "\ead4";
}
.icon-Left-Sidebar-solid:before {
  content: "\ead5";
}
.icon-Lemon-1-solid:before {
  content: "\ead6";
}
.icon-Lemon-2-solid:before {
  content: "\ead7";
}
.icon-Letter-solid:before {
  content: "\ead8";
}
.icon-Lettuce-solid:before {
  content: "\ead9";
}
.icon-Life-jacket-solid:before {
  content: "\eada";
}
.icon-Lighthouse-solid:before {
  content: "\eadb";
}
.icon-Like-solid:before {
  content: "\eadc";
}
.icon-Lips-solid:before {
  content: "\eadd";
}
.icon-List-View-solid:before {
  content: "\eade";
}
.icon-Load-App-solid:before {
  content: "\eadf";
}
.icon-Lock-App-2-solid:before {
  content: "\eae0";
}
.icon-Lock-App-solid:before {
  content: "\eae1";
}
.icon-Lock-Award-Badge-solid:before {
  content: "\eae2";
}
.icon-Lock-Group-solid:before {
  content: "\eae3";
}
.icon-Lock-Heart-solid:before {
  content: "\eae4";
}
.icon-Lock-Rating-solid:before {
  content: "\eae5";
}
.icon-Lollipop-1-solid:before {
  content: "\eae6";
}
.icon-Lollipop-2-solid:before {
  content: "\eae7";
}
.icon-Luggage-keeping-solid:before {
  content: "\eae8";
}
.icon-Luggage-weight-solid:before {
  content: "\eae9";
}
.icon-Machu-Picchu-solid:before {
  content: "\eaea";
}
.icon-Mail-App-solid:before {
  content: "\eaeb";
}
.icon-Mail-Note-solid:before {
  content: "\eaec";
}
.icon-Mail-Post-It-solid:before {
  content: "\eaed";
}
.icon-Mail-Task-solid:before {
  content: "\eaee";
}
.icon-Maize-solid:before {
  content: "\eaef";
}
.icon-Male-and-Female-1-solid:before {
  content: "\eaf0";
}
.icon-Male-and-Female-2-solid:before {
  content: "\eaf1";
}
.icon-Male-Circle-1-solid:before {
  content: "\eaf2";
}
.icon-Male-Circle-2-solid:before {
  content: "\eaf3";
}
.icon-Male-Group-1-solid:before {
  content: "\eaf4";
}
.icon-Male-Group-2-solid:before {
  content: "\eaf5";
}
.icon-Man-with-Briefcase-solid:before {
  content: "\eaf6";
}
.icon-Man-solid:before {
  content: "\eaf7";
}
.icon-Mango-solid:before {
  content: "\eaf8";
}
.icon-Map-solid:before {
  content: "\eaf9";
}
.icon-Mark-Bubble-1-solid:before {
  content: "\eafa";
}
.icon-Mark-Bubble-2-solid:before {
  content: "\eafb";
}
.icon-Mark-Bubble-3-solid:before {
  content: "\eafc";
}
.icon-Mark-Group-solid:before {
  content: "\eafd";
}
.icon-MAX-solid:before {
  content: "\eafe";
}
.icon-Maximize-solid:before {
  content: "\eaff";
}
.icon-Medal-1-solid:before {
  content: "\eb00";
}
.icon-Medal-2-solid:before {
  content: "\eb01";
}
.icon-Medal-3-solid:before {
  content: "\eb02";
}
.icon-Medal-4-solid:before {
  content: "\eb03";
}
.icon-Medal-5-solid:before {
  content: "\eb04";
}
.icon-Medium-Icons-View-solid:before {
  content: "\eb05";
}
.icon-Melon-solid:before {
  content: "\eb06";
}
.icon-Military-Award-1-solid:before {
  content: "\eb07";
}
.icon-Military-Award-2-solid:before {
  content: "\eb08";
}
.icon-Military-Award-3-solid:before {
  content: "\eb09";
}
.icon-Military-Award-4-solid:before {
  content: "\eb0a";
}
.icon-Militay-Shield-solid:before {
  content: "\eb0b";
}
.icon-Minimize-2-solid:before {
  content: "\eb0c";
}
.icon-Minimize-solid:before {
  content: "\eb0d";
}
.icon-Mirror-1-solid:before {
  content: "\eb0e";
}
.icon-Mirror-2-solid:before {
  content: "\eb0f";
}
.icon-Mosque-solid:before {
  content: "\eb10";
}
.icon-Mountains-solid:before {
  content: "\eb11";
}
.icon-Mouse-App-solid:before {
  content: "\eb12";
}
.icon-Mouve-Piece-solid:before {
  content: "\eb13";
}
.icon-Multy-Task-2-solid:before {
  content: "\eb14";
}
.icon-Multy-Task-solid:before {
  content: "\eb15";
}
.icon-Museum-solid:before {
  content: "\eb16";
}
.icon-Mushroom-1-solid:before {
  content: "\eb17";
}
.icon-Mushroom-2-solid:before {
  content: "\eb18";
}
.icon-Music-App-solid:before {
  content: "\eb19";
}
.icon-Mustache-1-solid:before {
  content: "\eb1a";
}
.icon-MySql-1-solid:before {
  content: "\eb1b";
}
.icon-MySql-2-solid:before {
  content: "\eb1c";
}
.icon-MySQL-Database-solid:before {
  content: "\eb1d";
}
.icon-Name-Plate-Female-1-solid:before {
  content: "\eb1e";
}
.icon-Name-Plate-Female-2-solid:before {
  content: "\eb1f";
}
.icon-Name-Plate-Female-3-solid:before {
  content: "\eb20";
}
.icon-Name-Plate-Male-1-solid:before {
  content: "\eb21";
}
.icon-Name-Plate-Male-2-solid:before {
  content: "\eb22";
}
.icon-Name-Plate-Male-3-solid:before {
  content: "\eb23";
}
.icon-Nativity-Facade-Barcelona-solid:before {
  content: "\eb24";
}
.icon-Network-App-solid:before {
  content: "\eb25";
}
.icon-New-Sticker-solid:before {
  content: "\eb26";
}
.icon-No-air-condition-solid:before {
  content: "\eb27";
}
.icon-No-bleaching-solid:before {
  content: "\eb28";
}
.icon-No-Copyright-Doc-solid:before {
  content: "\eb29";
}
.icon-No-Copyright-solid:before {
  content: "\eb2a";
}
.icon-No-Creative-Commun-solid:before {
  content: "\eb2b";
}
.icon-No-cut-solid:before {
  content: "\eb2c";
}
.icon-No-dogs-solid:before {
  content: "\eb2d";
}
.icon-No-fishing-solid:before {
  content: "\eb2e";
}
.icon-No-food-solid:before {
  content: "\eb2f";
}
.icon-No-hoist-solid:before {
  content: "\eb30";
}
.icon-No-icecream-solid:before {
  content: "\eb31";
}
.icon-No-ironing-solid:before {
  content: "\eb32";
}
.icon-No-pack-up-solid:before {
  content: "\eb33";
}
.icon-No-phone-solid:before {
  content: "\eb34";
}
.icon-No-Resel-solid:before {
  content: "\eb35";
}
.icon-No-resell-Doc-solid:before {
  content: "\eb36";
}
.icon-No-shower-solid:before {
  content: "\eb37";
}
.icon-No-smoking-solid:before {
  content: "\eb38";
}
.icon-No-step-solid:before {
  content: "\eb39";
}
.icon-No-stream-solid:before {
  content: "\eb3a";
}
.icon-No-swimming-solid:before {
  content: "\eb3b";
}
.icon-No-touch-solid:before {
  content: "\eb3c";
}
.icon-No-wet-ironing-solid:before {
  content: "\eb3d";
}
.icon-No-wetting-solid:before {
  content: "\eb3e";
}
.icon-Nophoto-solid:before {
  content: "\eb3f";
}
.icon-Not-Arrived-solid:before {
  content: "\eb40";
}
.icon-Not-departed-solid:before {
  content: "\eb41";
}
.icon-Not-drinking-water-solid:before {
  content: "\eb42";
}
.icon-Not-loud-solid:before {
  content: "\eb43";
}
.icon-Note-1-solid:before {
  content: "\eb44";
}
.icon-Note-2-solid:before {
  content: "\eb45";
}
.icon-Note-Book-1-solid:before {
  content: "\eb46";
}
.icon-Note-Book-2-solid:before {
  content: "\eb47";
}
.icon-Note-Pencil-1-solid:before {
  content: "\eb48";
}
.icon-Note-Pencil-2-solid:before {
  content: "\eb49";
}
.icon-Notebook-3-solid:before {
  content: "\eb4a";
}
.icon-Nuclear-Reactor-solid:before {
  content: "\eb4b";
}
.icon-Nuclear-solid:before {
  content: "\eb4c";
}
.icon-Obelisc-solid:before {
  content: "\eb4d";
}
.icon-Octaeder-2-solid:before {
  content: "\eb4e";
}
.icon-Octaeder-3-solid:before {
  content: "\eb4f";
}
.icon-Octaeder-solid:before {
  content: "\eb50";
}
.icon-Office-1-solid:before {
  content: "\eb51";
}
.icon-Office-2-solid:before {
  content: "\eb52";
}
.icon-Office-3-solid:before {
  content: "\eb53";
}
.icon-Office-4-solid:before {
  content: "\eb54";
}
.icon-Office-5-solid:before {
  content: "\eb55";
}
.icon-Office-6-solid:before {
  content: "\eb56";
}
.icon-Office-Building-solid:before {
  content: "\eb57";
}
.icon-Office-Chair-solid:before {
  content: "\eb58";
}
.icon-Office-Desk-2-solid:before {
  content: "\eb59";
}
.icon-Office-Desk-solid:before {
  content: "\eb5a";
}
.icon-Old-camera-1-solid:before {
  content: "\eb5b";
}
.icon-Old-camera-2-solid:before {
  content: "\eb5c";
}
.icon-Old-Sticky-1-solid:before {
  content: "\eb5d";
}
.icon-Old-Sticky-2-solid:before {
  content: "\eb5e";
}
.icon-Old-Sticky-3-solid:before {
  content: "\eb5f";
}
.icon-Old-Telephone-solid:before {
  content: "\eb60";
}
.icon-Olive-solid:before {
  content: "\eb61";
}
.icon-Onion-solid:before {
  content: "\eb62";
}
.icon-Oscar-solid:before {
  content: "\eb63";
}
.icon-OTF-solid:before {
  content: "\eb64";
}
.icon-Pack-up-solid:before {
  content: "\eb65";
}
.icon-Pagoda-Myanmar-solid:before {
  content: "\eb66";
}
.icon-Pagoda-solid:before {
  content: "\eb67";
}
.icon-Paifang-China-solid:before {
  content: "\eb68";
}
.icon-Paint-Brush-solid:before {
  content: "\eb69";
}
.icon-Paint-Bucket-solid:before {
  content: "\eb6a";
}
.icon-Paint-Roller-solid:before {
  content: "\eb6b";
}
.icon-Palm-tree-solid:before {
  content: "\eb6c";
}
.icon-Pantheon-solid:before {
  content: "\eb6d";
}
.icon-Papaya-solid:before {
  content: "\eb6e";
}
.icon-Park-solid:before {
  content: "\eb6f";
}
.icon-Party-Glasses-solid:before {
  content: "\eb70";
}
.icon-Passport-solid:before {
  content: "\eb71";
}
.icon-Pawn-1-solid:before {
  content: "\eb72";
}
.icon-Pawn-2-solid:before {
  content: "\eb73";
}
.icon-Pay-Doc-solid:before {
  content: "\eb74";
}
.icon-Pea-solid:before {
  content: "\eb75";
}
.icon-Peach-1-solid:before {
  content: "\eb76";
}
.icon-Peach-2-solid:before {
  content: "\eb77";
}
.icon-Peanut-solid:before {
  content: "\eb78";
}
.icon-Pear-solid:before {
  content: "\eb79";
}
.icon-Pecan-solid:before {
  content: "\eb7a";
}
.icon-Pentagon-solid:before {
  content: "\eb7b";
}
.icon-Pentagonal-Cone-2-solid:before {
  content: "\eb7c";
}
.icon-Pentagonal-Cone-3-solid:before {
  content: "\eb7d";
}
.icon-Pentagonal-Cone-solid:before {
  content: "\eb7e";
}
.icon-Pentagonal-Cylinder-2-solid:before {
  content: "\eb7f";
}
.icon-Pentagonal-Cylinder-3-solid:before {
  content: "\eb80";
}
.icon-Pentagonal-Cylinder-solid:before {
  content: "\eb81";
}
.icon-Pepper-solid:before {
  content: "\eb82";
}
.icon-Personal-Award-Badge-solid:before {
  content: "\eb83";
}
.icon-Personal-Heart-solid:before {
  content: "\eb84";
}
.icon-Personal-Note-solid:before {
  content: "\eb85";
}
.icon-Personal-Post-It-solid:before {
  content: "\eb86";
}
.icon-Personal-Task-solid:before {
  content: "\eb87";
}
.icon-Personal-Use-2-solid:before {
  content: "\eb88";
}
.icon-Personal-Use-solid:before {
  content: "\eb89";
}
.icon-Pesronal-Use-Doc-solid:before {
  content: "\eb8a";
}
.icon-Phone-User-solid:before {
  content: "\eb8b";
}
.icon-Photoshop-solid:before {
  content: "\eb8c";
}
.icon-php-1-solid:before {
  content: "\eb8d";
}
.icon-PHP-2-solid:before {
  content: "\eb8e";
}
.icon-Pin-App-solid:before {
  content: "\eb8f";
}
.icon-Pined-Post-It-solid:before {
  content: "\eb90";
}
.icon-Pipe-1-solid:before {
  content: "\eb91";
}
.icon-Pipe-2-solid:before {
  content: "\eb92";
}
.icon-Piramid-2-solid:before {
  content: "\eb93";
}
.icon-Piramid-3-solid:before {
  content: "\eb94";
}
.icon-Piramyd-1-solid:before {
  content: "\eb95";
}
.icon-Pisa-solid:before {
  content: "\eb96";
}
.icon-Pistachio-solid:before {
  content: "\eb97";
}
.icon-Playground-solid:before {
  content: "\eb98";
}
.icon-Pliers-solid:before {
  content: "\eb99";
}
.icon-Plugin-solid:before {
  content: "\eb9a";
}
.icon-Plum-solid:before {
  content: "\eb9b";
}
.icon-Pocket-Watch-solid:before {
  content: "\eb9c";
}
.icon-Podium-solid:before {
  content: "\eb9d";
}
.icon-Police-solid:before {
  content: "\eb9e";
}
.icon-Pomegranate-solid:before {
  content: "\eb9f";
}
.icon-Port-solid:before {
  content: "\eba0";
}
.icon-Portrait-Frame-solid:before {
  content: "\eba1";
}
.icon-Post-It-Block-solid:before {
  content: "\eba2";
}
.icon-Post-It-Pencil-solid:before {
  content: "\eba3";
}
.icon-Post-It-Settings-solid:before {
  content: "\eba4";
}
.icon-Post-It-solid:before {
  content: "\eba5";
}
.icon-Post-Office-solid:before {
  content: "\eba6";
}
.icon-Potato-solid:before {
  content: "\eba7";
}
.icon-Pound-House-solid:before {
  content: "\eba8";
}
.icon-Presentation-1-solid:before {
  content: "\eba9";
}
.icon-Presentation-2-solid:before {
  content: "\ebaa";
}
.icon-Presentation-3-solid:before {
  content: "\ebab";
}
.icon-Preview-Pane-solid:before {
  content: "\ebac";
}
.icon-Profile-App-solid:before {
  content: "\ebad";
}
.icon-Profile-Cardiograph-solid:before {
  content: "\ebae";
}
.icon-Profile-Economy-solid:before {
  content: "\ebaf";
}
.icon-Profile-Favourites-solid:before {
  content: "\ebb0";
}
.icon-Profile-Head-solid:before {
  content: "\ebb1";
}
.icon-Profile-History-solid:before {
  content: "\ebb2";
}
.icon-Profile-Lightbulb-solid:before {
  content: "\ebb3";
}
.icon-Profile-Music-solid:before {
  content: "\ebb4";
}
.icon-Profile-Settings-solid:before {
  content: "\ebb5";
}
.icon-Profile-Star-solid:before {
  content: "\ebb6";
}
.icon-Profile-Voltage-solid:before {
  content: "\ebb7";
}
.icon-Profile-solid:before {
  content: "\ebb8";
}
.icon-Programing-solid:before {
  content: "\ebb9";
}
.icon-Public-App-solid:before {
  content: "\ebba";
}
.icon-Public-Domain-solid:before {
  content: "\ebbb";
}
.icon-Pumpkin-solid:before {
  content: "\ebbc";
}
.icon-Puond-App-solid:before {
  content: "\ebbd";
}
.icon-Queen-1-solid:before {
  content: "\ebbe";
}
.icon-Queen-2-solid:before {
  content: "\ebbf";
}
.icon-Question-App-solid:before {
  content: "\ebc0";
}
.icon-Question-House-solid:before {
  content: "\ebc1";
}
.icon-Question-Note-solid:before {
  content: "\ebc2";
}
.icon-Question-Post-It-solid:before {
  content: "\ebc3";
}
.icon-Question-Task-solid:before {
  content: "\ebc4";
}
.icon-QXD-solid:before {
  content: "\ebc5";
}
.icon-Radio-solid:before {
  content: "\ebc6";
}
.icon-Radish-solid:before {
  content: "\ebc7";
}
.icon-Raspberry-solid:before {
  content: "\ebc8";
}
.icon-Razor-Blade-solid:before {
  content: "\ebc9";
}
.icon-Razor-solid:before {
  content: "\ebca";
}
.icon-Reamove-Award-Badge-solid:before {
  content: "\ebcb";
}
.icon-Recording-App-solid:before {
  content: "\ebcc";
}
.icon-Rectangle-2-solid:before {
  content: "\ebcd";
}
.icon-Rectangle-Star-solid:before {
  content: "\ebce";
}
.icon-Rectangle-solid:before {
  content: "\ebcf";
}
.icon-Refresh-App-solid:before {
  content: "\ebd0";
}
.icon-Registered-Mark-solid:before {
  content: "\ebd1";
}
.icon-Reload-App-solid:before {
  content: "\ebd2";
}
.icon-Remouve-App-solid:before {
  content: "\ebd3";
}
.icon-Remouve-House-solid:before {
  content: "\ebd4";
}
.icon-Remouve-Note-solid:before {
  content: "\ebd5";
}
.icon-Remouve-Post-It-solid:before {
  content: "\ebd6";
}
.icon-Remouve-Rating-solid:before {
  content: "\ebd7";
}
.icon-Remouve-Task-solid:before {
  content: "\ebd8";
}
.icon-Remove-Heart-solid:before {
  content: "\ebd9";
}
.icon-Rent-Hanger-solid:before {
  content: "\ebda";
}
.icon-Rent-Sale-Sign-solid:before {
  content: "\ebdb";
}
.icon-Rent-Sign-2-solid:before {
  content: "\ebdc";
}
.icon-Rent-Sign-solid:before {
  content: "\ebdd";
}
.icon-Restore-solid:before {
  content: "\ebde";
}
.icon-Retina-Scann-App-solid:before {
  content: "\ebdf";
}
.icon-Retro-Perfume-solid:before {
  content: "\ebe0";
}
.icon-Rialto-Venice-solid:before {
  content: "\ebe1";
}
.icon-Ribbon-solid:before {
  content: "\ebe2";
}
.icon-Right-Sidebar-solid:before {
  content: "\ebe3";
}
.icon-Rio-de-Jan-solid:before {
  content: "\ebe4";
}
.icon-Road-Roller-solid:before {
  content: "\ebe5";
}
.icon-Rode-Signe-solid:before {
  content: "\ebe6";
}
.icon-Rook-1-solid:before {
  content: "\ebe7";
}
.icon-Rook-2-solid:before {
  content: "\ebe8";
}
.icon-Route-66-solid:before {
  content: "\ebe9";
}
.icon-Rudder-solid:before {
  content: "\ebea";
}
.icon-Sailboat-solid:before {
  content: "\ebeb";
}
.icon-Sale-Hanger-solid:before {
  content: "\ebec";
}
.icon-Sale-Sign-2-solid:before {
  content: "\ebed";
}
.icon-Sale-Sign-solid:before {
  content: "\ebee";
}
.icon-Sate-Sticker-solid:before {
  content: "\ebef";
}
.icon-Saw-solid:before {
  content: "\ebf0";
}
.icon-School-solid:before {
  content: "\ebf1";
}
.icon-Scissors-solid:before {
  content: "\ebf2";
}
.icon-Search-App-1-solid:before {
  content: "\ebf3";
}
.icon-Search-App-2-solid:before {
  content: "\ebf4";
}
.icon-Search-Code-solid:before {
  content: "\ebf5";
}
.icon-Search-Female-solid:before {
  content: "\ebf6";
}
.icon-Search-House-2-solid:before {
  content: "\ebf7";
}
.icon-Search-House-solid:before {
  content: "\ebf8";
}
.icon-Search-Male-solid:before {
  content: "\ebf9";
}
.icon-Search-Note-solid:before {
  content: "\ebfa";
}
.icon-Search-Post-It-solid:before {
  content: "\ebfb";
}
.icon-Search-Task-solid:before {
  content: "\ebfc";
}
.icon-Search-Within-App-solid:before {
  content: "\ebfd";
}
.icon-Searching-Group-solid:before {
  content: "\ebfe";
}
.icon-Secure-House-solid:before {
  content: "\ebff";
}
.icon-Security-gate-solid:before {
  content: "\ec00";
}
.icon-Setting-House-solid:before {
  content: "\ec01";
}
.icon-Settings-Note-solid:before {
  content: "\ec02";
}
.icon-Sfinx-solid:before {
  content: "\ec03";
}
.icon-Shanghai-TV-Tower-solid:before {
  content: "\ec04";
}
.icon-Shape-file-2-solid:before {
  content: "\ec05";
}
.icon-Shape-File-solid:before {
  content: "\ec06";
}
.icon-Share-App-1-solid:before {
  content: "\ec07";
}
.icon-Share-App-solid:before {
  content: "\ec08";
}
.icon-Share-Note-solid:before {
  content: "\ec09";
}
.icon-Share-Post-It-solid:before {
  content: "\ec0a";
}
.icon-Share-Task-solid:before {
  content: "\ec0b";
}
.icon-Share-with-Group-solid:before {
  content: "\ec0c";
}
.icon-Sharring-Rights-solid:before {
  content: "\ec0d";
}
.icon-Shaving-Brush-solid:before {
  content: "\ec0e";
}
.icon-Sherif-Star-solid:before {
  content: "\ec0f";
}
.icon-Shoe-1-solid:before {
  content: "\ec10";
}
.icon-Shoe-2-solid:before {
  content: "\ec11";
}
.icon-Shop-Rating-solid:before {
  content: "\ec12";
}
.icon-Shop-solid:before {
  content: "\ec13";
}
.icon-Shovel-solid:before {
  content: "\ec14";
}
.icon-Signpost-solid:before {
  content: "\ec15";
}
.icon-Sillence-solid:before {
  content: "\ec16";
}
.icon-Single-Female-solid:before {
  content: "\ec17";
}
.icon-Single-Male-solid:before {
  content: "\ec18";
}
.icon-Ski-solid:before {
  content: "\ec19";
}
.icon-Sleeping-bag-solid:before {
  content: "\ec1a";
}
.icon-Small-Icons-View-solid:before {
  content: "\ec1b";
}
.icon-Smoking-area-solid:before {
  content: "\ec1c";
}
.icon-Social-Media-solid:before {
  content: "\ec1d";
}
.icon-Sofa-1-solid:before {
  content: "\ec1e";
}
.icon-Sofa-2-solid:before {
  content: "\ec1f";
}
.icon-Sofa-3-solid:before {
  content: "\ec20";
}
.icon-Sold-Hanger-solid:before {
  content: "\ec21";
}
.icon-Sold-Sign-2-solid:before {
  content: "\ec22";
}
.icon-Sold-Sign-solid:before {
  content: "\ec23";
}
.icon-Space-Needle-Seattle-solid:before {
  content: "\ec24";
}
.icon-Speach-Bubble-1-solid:before {
  content: "\ec25";
}
.icon-Speach-Bubble-2-solid:before {
  content: "\ec26";
}
.icon-Speach-Bubble-3-solid:before {
  content: "\ec27";
}
.icon-Speach-Bubble-4-solid:before {
  content: "\ec28";
}
.icon-Speach-Bubble-5-solid:before {
  content: "\ec29";
}
.icon-Speach-Bubble-6-solid:before {
  content: "\ec2a";
}
.icon-Speach-Bubble-7-solid:before {
  content: "\ec2b";
}
.icon-Speach-Bubble-8-solid:before {
  content: "\ec2c";
}
.icon-Speach-Bubble-9-solid:before {
  content: "\ec2d";
}
.icon-Speach-Bubble-10-solid:before {
  content: "\ec2e";
}
.icon-Speach-Bubble-11-solid:before {
  content: "\ec2f";
}
.icon-Speach-Bubbles-1-solid:before {
  content: "\ec30";
}
.icon-Speach-Bubbles-2-solid:before {
  content: "\ec31";
}
.icon-Speach-Bubbles-3-solid:before {
  content: "\ec32";
}
.icon-Speach-Bubbles-5-solid:before {
  content: "\ec33";
}
.icon-Speach-Bubbles-6-solid:before {
  content: "\ec34";
}
.icon-Speach-Bubbles-7-solid:before {
  content: "\ec35";
}
.icon-Speach-Bubbles-8-solid:before {
  content: "\ec36";
}
.icon-Speach-Bubbles-9-solid:before {
  content: "\ec37";
}
.icon-Speach-Bubbles-10-solid:before {
  content: "\ec38";
}
.icon-Speach-Bubbles-11-solid:before {
  content: "\ec39";
}
.icon-Speach-Bubbles-12-solid:before {
  content: "\ec3a";
}
.icon-Speash-Bubbles-4-solid:before {
  content: "\ec3b";
}
.icon-Speech-solid:before {
  content: "\ec3c";
}
.icon-Sphere-2-solid:before {
  content: "\ec3d";
}
.icon-Sphere-3-solid:before {
  content: "\ec3e";
}
.icon-Sphere-solid:before {
  content: "\ec3f";
}
.icon-Spinach-solid:before {
  content: "\ec40";
}
.icon-St-Petersburg-solid:before {
  content: "\ec41";
}
.icon-Stadium-solid:before {
  content: "\ec42";
}
.icon-Stairs-down-solid:before {
  content: "\ec43";
}
.icon-Stairs-up-solid:before {
  content: "\ec44";
}
.icon-Standing-position-solid:before {
  content: "\ec45";
}
.icon-Star-Bookmark-solid:before {
  content: "\ec46";
}
.icon-Star-Flag-solid:before {
  content: "\ec47";
}
.icon-Star-House-solid:before {
  content: "\ec48";
}
.icon-Star-Shield-1-solid:before {
  content: "\ec49";
}
.icon-Star-Shield-2-solid:before {
  content: "\ec4a";
}
.icon-Star-User-solid:before {
  content: "\ec4b";
}
.icon-Stonehenge-solid:before {
  content: "\ec4c";
}
.icon-Storage-solid:before {
  content: "\ec4d";
}
.icon-Storage2-solid:before {
  content: "\ec4e";
}
.icon-Strawberry-solid:before {
  content: "\ec4f";
}
.icon-Sttings-Task-solid:before {
  content: "\ec50";
}
.icon-Suitcase-solid:before {
  content: "\ec51";
}
.icon-Sunflower-Seed-solid:before {
  content: "\ec52";
}
.icon-Sunshade-solid:before {
  content: "\ec53";
}
.icon-Super-Bowl-Cup-solid:before {
  content: "\ec54";
}
.icon-Surfboard-solid:before {
  content: "\ec55";
}
.icon-Surveillance-solid:before {
  content: "\ec56";
}
.icon-Suspenders-solid:before {
  content: "\ec57";
}
.icon-SVG-solid:before {
  content: "\ec58";
}
.icon-Sweet-Potato-solid:before {
  content: "\ec59";
}
.icon-SWF-solid:before {
  content: "\ec5a";
}
.icon-Switch-App-solid:before {
  content: "\ec5b";
}
.icon-Switch-Males-solid:before {
  content: "\ec5c";
}
.icon-Sydney-solid:before {
  content: "\ec5d";
}
.icon-Synagogue-solid:before {
  content: "\ec5e";
}
.icon-Table-1-solid:before {
  content: "\ec5f";
}
.icon-Table-2-solid:before {
  content: "\ec60";
}
.icon-Table-3-solid:before {
  content: "\ec61";
}
.icon-Tablet-User-solid:before {
  content: "\ec62";
}
.icon-Taj-Mahal-solid:before {
  content: "\ec63";
}
.icon-Targeted-Head-solid:before {
  content: "\ec64";
}
.icon-Task-Manager-solid:before {
  content: "\ec65";
}
.icon-Tasks-1-solid:before {
  content: "\ec66";
}
.icon-Telephone-solid:before {
  content: "\ec67";
}
.icon-Tent-solid:before {
  content: "\ec68";
}
.icon-Tetraeder-2-solid:before {
  content: "\ec69";
}
.icon-Tetraeder-3-solid:before {
  content: "\ec6a";
}
.icon-Tetraeder-solid:before {
  content: "\ec6b";
}
.icon-Tetraeder4-solid:before {
  content: "\ec6c";
}
.icon-Text-Editor-solid:before {
  content: "\ec6d";
}
.icon-TGA-solid:before {
  content: "\ec6e";
}
.icon-Theater-solid:before {
  content: "\ec6f";
}
.icon-Theme-solid:before {
  content: "\ec70";
}
.icon-Ticket-solid:before {
  content: "\ec71";
}
.icon-Tie-1-solid:before {
  content: "\ec72";
}
.icon-Tie-2-solid:before {
  content: "\ec73";
}
.icon-Tie-3-solid:before {
  content: "\ec74";
}
.icon-Tie-4-solid:before {
  content: "\ec75";
}
.icon-TIFF-solid:before {
  content: "\ec76";
}
.icon-Tiles-View-solid:before {
  content: "\ec77";
}
.icon-Time-App-solid:before {
  content: "\ec78";
}
.icon-Timed-Rating-solid:before {
  content: "\ec79";
}
.icon-Tomato-solid:before {
  content: "\ec7a";
}
.icon-Tower-Bridge-solid:before {
  content: "\ec7b";
}
.icon-Trade-Mark-solid:before {
  content: "\ec7c";
}
.icon-Trafic-Cone-solid:before {
  content: "\ec7d";
}
.icon-Translate-solid:before {
  content: "\ec7e";
}
.icon-Trash-solid:before {
  content: "\ec7f";
}
.icon-Tree-Grid-solid:before {
  content: "\ec80";
}
.icon-Tree-View-2-solid:before {
  content: "\ec81";
}
.icon-Tree-View-3-solid:before {
  content: "\ec82";
}
.icon-Tree-View-solid:before {
  content: "\ec83";
}
.icon-Triangle-Ruler-solid:before {
  content: "\ec84";
}
.icon-Triangle-solid:before {
  content: "\ec85";
}
.icon-Trowel-and-Brick-solid:before {
  content: "\ec86";
}
.icon-Trowel-and-Wall-solid:before {
  content: "\ec87";
}
.icon-Truck-1-solid:before {
  content: "\ec88";
}
.icon-True-Type-solid:before {
  content: "\ec89";
}
.icon-TTF-solid:before {
  content: "\ec8a";
}
.icon-Turin-solid:before {
  content: "\ec8b";
}
.icon-TV-Desk-2-solid:before {
  content: "\ec8c";
}
.icon-TV-Desk-solid:before {
  content: "\ec8d";
}
.icon-Two-Females-1-solid:before {
  content: "\ec8e";
}
.icon-Two-Males-1-solid:before {
  content: "\ec8f";
}
.icon-Tyle-solid:before {
  content: "\ec90";
}
.icon-Uefa-Euro-Cup-solid:before {
  content: "\ec91";
}
.icon-Umbrella-solid:before {
  content: "\ec92";
}
.icon-Uninstal-App-solid:before {
  content: "\ec93";
}
.icon-University-solid:before {
  content: "\ec94";
}
.icon-Upload-App-solid:before {
  content: "\ec95";
}
.icon-Upload-Note-solid:before {
  content: "\ec96";
}
.icon-Upload-Post-It-solid:before {
  content: "\ec97";
}
.icon-Upload-Task-solid:before {
  content: "\ec98";
}
.icon-Upload-solid:before {
  content: "\ec99";
}
.icon-User-App-solid:before {
  content: "\ec9a";
}
.icon-User-Budget-solid:before {
  content: "\ec9b";
}
.icon-User-Calendar-solid:before {
  content: "\ec9c";
}
.icon-User-Cloud-solid:before {
  content: "\ec9d";
}
.icon-User-Cup-solid:before {
  content: "\ec9e";
}
.icon-User-Database-solid:before {
  content: "\ec9f";
}
.icon-User-Fingerprint-solid:before {
  content: "\eca0";
}
.icon-User-Flowchart-solid:before {
  content: "\eca1";
}
.icon-User-Geometry-solid:before {
  content: "\eca2";
}
.icon-User-Hierarchy-solid:before {
  content: "\eca3";
}
.icon-User-Mail-solid:before {
  content: "\eca4";
}
.icon-User-Password-solid:before {
  content: "\eca5";
}
.icon-User-Path-solid:before {
  content: "\eca6";
}
.icon-User-Place-solid:before {
  content: "\eca7";
}
.icon-User-Rating-solid:before {
  content: "\eca8";
}
.icon-User-Security-Card-solid:before {
  content: "\eca9";
}
.icon-User-Security-Female-solid:before {
  content: "\ecaa";
}
.icon-User-Security-Male-solid:before {
  content: "\ecab";
}
.icon-User-Settings-solid:before {
  content: "\ecac";
}
.icon-User-Store-solid:before {
  content: "\ecad";
}
.icon-User-Target-solid:before {
  content: "\ecae";
}
.icon-Vector-App-solid:before {
  content: "\ecaf";
}
.icon-Vector-File-solid:before {
  content: "\ecb0";
}
.icon-Vest-solid:before {
  content: "\ecb1";
}
.icon-Victory-solid:before {
  content: "\ecb2";
}
.icon-Video-App-1-solid:before {
  content: "\ecb3";
}
.icon-Video-App-2-solid:before {
  content: "\ecb4";
}
.icon-VIP-Star-solid:before {
  content: "\ecb5";
}
.icon-Vote-2-solid:before {
  content: "\ecb6";
}
.icon-Vote-3-solid:before {
  content: "\ecb7";
}
.icon-Vote-4-solid:before {
  content: "\ecb8";
}
.icon-Vote-Stamp-2-solid:before {
  content: "\ecb9";
}
.icon-Vote-Stamp-solid:before {
  content: "\ecba";
}
.icon-Vote-solid:before {
  content: "\ecbb";
}
.icon-Voted-solid:before {
  content: "\ecbc";
}
.icon-Waiting-App-solid:before {
  content: "\ecbd";
}
.icon-Waiting-Award-Badge-solid:before {
  content: "\ecbe";
}
.icon-Waiting-room-solid:before {
  content: "\ecbf";
}
.icon-Wardeobe-1-solid:before {
  content: "\ecc0";
}
.icon-Wardrobe-2-solid:before {
  content: "\ecc1";
}
.icon-Wardrobe-3-solid:before {
  content: "\ecc2";
}
.icon-Wardrobe-Mirror-solid:before {
  content: "\ecc3";
}
.icon-Washing-1-solid:before {
  content: "\ecc4";
}
.icon-Washing-2-solid:before {
  content: "\ecc5";
}
.icon-Washing-3-solid:before {
  content: "\ecc6";
}
.icon-Watch-1-solid:before {
  content: "\ecc7";
}
.icon-Watch-2-solid:before {
  content: "\ecc8";
}
.icon-Wet-Ironing-solid:before {
  content: "\ecc9";
}
.icon-White-House-solid:before {
  content: "\ecca";
}
.icon-White-Radish-solid:before {
  content: "\eccb";
}
.icon-Windmill-solid:before {
  content: "\eccc";
}
.icon-Wing-Star-solid:before {
  content: "\eccd";
}
.icon-Woman-solid:before {
  content: "\ecce";
}
.icon-Women\'-Collar-solid:before {
  content: "\eccf";
}
.icon-Worlld-Cup-solid:before {
  content: "\ecd0";
}
.icon-Wrench-Tool-solid:before {
  content: "\ecd1";
}
.icon-Writing-Group-solid:before {
  content: "\ecd2";
}
.icon-WWW-Doc-solid:before {
  content: "\ecd3";
}
.icon-XML-1-solid:before {
  content: "\ecd4";
}
.icon-XML-2-solid:before {
  content: "\ecd5";
}
.icon-Yacht-solid:before {
  content: "\ecd6";
}
.icon-Zeppelin-solid:before {
  content: "\ecd7";
}
.icon-Zucchini-solid:before {
  content: "\ecd8";
}

