<div class="parent">
  <div class="form">

    <div class="text-container">
      <label for="text">
        <h2>Text</h2>
      </label>
      <input id="text" [(ngModel)]="text">
    </div>

    <div class="type-container">
      <label for="type">
        <h2>Type</h2>
      </label>
      <ul>
        <li *ngFor="let t of types; let i = index">
          <input id="{{i}}-option" type="radio" [(ngModel)]="type" [value]="t" name="selector">
          <label for="{{i}}-option">{{t}}</label>
          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>
    </div>

    <div class="btn-show-notif">
      <button (click)="showNotif()">Show notification !</button>
    </div>
  </div>
</div>
