@import 'dep/icon54';
@import 'dep/icon54com';
@import 'dep/icon54comsolid';
@import 'dep/icon54solid';

@import 'app/variables';

@import 'helpers/**/*';
@import 'app/*';

body {
  color: $black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
