app {
  display: block;
  min-height: calc(100vh - #{$footerHeight} - #{$headerHeight});
  padding-bottom: $footerHeight;
  position: relative;
  z-index: $zIndexApp;
  transition: min-height $headerTransition;

  &.scrolled {
    min-height: calc(100vh - #{$footerHeight} - #{$headerHeightScrolled});

    header {
      height: $headerHeightScrolled;
    }

    .content {
      margin-top: $headerHeightScrolled;
    }
  }

  nav-bar,
  .content,
  footer-bar {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    background-color: $b2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $headerHeight;
    box-shadow: $headerBoxShadow;

    transition: height $headerTransition;
  }

  .content {
    margin-top: $headerHeight;
    transition: margin-top $headerTransition;
  }

  footer {
    background-color: $footerColor;
    box-shadow: $footerBoxShadow;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
