app {
  z-index: $zIndexApp;

  nav-bar,
  .content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    background-color: $r1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $navHeight;
    box-shadow: $navBoxShadow;
  }

  .content {
    padding-top: $navHeight;
  }
}
