footer-bar {
  @include flex(center, center, column);
  height: $footerHeight;

  .main {
    @include flex(center, flex-start, row);

    .about {
      width: 50%;
    }

    .langs {
      @include flex(center, flex-end, column);
      width: 50%;

      a {
        opacity: 0.5;
        cursor: pointer;

        transition: opacity ease-in-out $speedLinkOverayApear;

        &.current {
          cursor: default;
          pointer-events: none;
        }

        &.current,
        &:hover {
          opacity: 1;
        }
      }

      .flag {
        height: 15px;
        width: 30px;
      }
    }
  }

  .copyright {
    margin-top: auto;
    margin-bottom: 0.2em;
    font-size: 0.8em;
  }
}
