.headline {
  text-align: center;
  padding: 1.5em 0;
}

.pres {
  margin-top: 1.5em;
  @include flex(center, flex-start);

  .logo {
    width: 40%;
    height: 20em;
    background-image: url(/imgs/angular.svg);
    margin-right: 1.5em;
    background-repeat: no-repeat;
    background-position-y: -1.5em;
    background-position-x: 2em;
    background-size: 22em;
  }

  .content {
    width: 60%;

    p {
      margin: 1em 0;
    }
  }
}
