nav-bar {
  @include flex(center, center);
  height: 100%;

  a {
    &.logo {
      width: 10em;
      text-align: center;
      height: 80%;
      padding-right: 2em;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  a {
    &.active {
      &:hover {
        cursor: default;
      }
    }
  }

  .links-container {
    @include flex();
    height: 100%;
    position: relative;

    .link-overlay {
      position: absolute;
      padding: 0;
      background-color: $white;
      opacity: 0;
      transform: translateX(0);
      z-index: $zIndexLinkOverlay;
      top: calc(100% - 0.3em);
      bottom: 0;

      transition: all ease-in-out $speedLinkOverayApear;

      &.in {
        opacity: 1;
      }

      &.slide-right {
        transform: translateX(0.3em);
      }

      &.slide-left {
        transform: translateX(-0.3em);
      }
    }

    a {
      @include flex(center, center);
      height: 100%;
      color: $white;
    }

    a {
      z-index: $zIndexLink;
      padding: 0 1.5em;

      &.logo {
        width: 10em;
        text-align: center;
        height: 80%;

        img {
          height: 100%;
        }
      }

      &.active {
        &:hover {
          cursor: default;
        }
      }
    }
  }

  .socials-container {
    @include flex(center, center);
    height: 100%;

    a {
      height: 100%;
      padding: 0 1em;

      opacity: 0.7;
      transition: opacity ease-in-out $speedSocialPulse;

      &:hover {
        opacity: 1;

        div {
          img {
            transform: scale(1.06);
          }
        }
      }

      div {
        @include flex(center, center);
        height: 100%;

        img {
          height: 28px;
          width: initial;
          transition: all ease-in-out $speedSocialPulse;
        }
      }
    }
  }

  :last-child {
    margin-left: auto;
  }
}
