header {
  background-color: $r1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $navHeight;
  box-shadow: $navBoxShadow;

  nav {
    @include flex(flex-start, center);
    height: 100%;

    .logo {
      width: 15em;
      text-align: center;
      height: 80%;

      img {
        height: 100%;
      }
    }

    .links-container {
      @include flex();
      height: 100%;

      a {
        @include flex(center, center);
        height: 100%;
        color: $white;
        text-decoration: none;
        padding: 0 2em;

        &.active {
          background-color: $b3;
        }
      }
    }
  }
}
