$zIndexApp: 0;
$zIndexLink: $zIndexApp + 2;
$zIndexLinkOverlay: $zIndexLink - 1;

$b1: #DBF5F4;
$b2: #CBE7F1;
$b3: #122744;
$r1: #A1312B;
$v1: #0D302F;
$white: #FFFFFF;

$lightGrey: rgba(0, 0, 0, 0.5);

$navHeight: 5em;
$navBoxShadow: 0px -2px 7px 4px $lightGrey;
$speedLinkOverayApear: 0.2s;
