<!DOCTYPE html>
<html>
  <head>
    <title>Ahead of time compilation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">

    <!--SCRIPTS DEP-->
    <!--SCRIPTS DEP END-->

    <!--SCRIPTS APP HEAD-->
    <!--SCRIPTS APP HEAD END-->

    <% if (env === 'development') { %>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
    <% } else { %>
    <script>window.module = 'aot';</script>
    <% } %>

  </head>
  <body>
    <my-app>
      <div class="loader-container">
        <div class="loader-wrapper">
          <div class="loader"></div>
        </div>
        <div class="loader-wrapper">
          <div class="loader-2"></div>
        </div>
      </div>
    </my-app>
  </body>
  <script>
    window.cdn = {
      one: '<%= cdn.one %>',
      two: '<%= cdn.one %>',
      three: '<%= cdn.one %>',
    };
  </script>

  <!--SCRIPTS APP-->
  <!--SCRIPTS APP END-->

</html>
