$info: #0069bd;

$warn: #ccb700;

$error: #a90c00;

$mainColor: #1e2b29;
$secondColor: #4cb37b;
$grey: #b2b2b2;

$backgroundColor: #090621;

$speedS5: 2000ms;
$speedS4: 1800ms;
$speedS3: 1600ms;
$speedS2: 1400ms;
$speedS1: 1200ms;
$speed:   1000ms;
$speedF1:  800ms;
$speedF2:  600ms;
$speedF3:  400ms;
$speedF4:  200ms;

$z-indexApp: 0;
$z-indexMenu: $z-indexApp + 10;
