<header>
  <nav>
    <div class="links-container">
      <a [routerLink]="[('home_nav_link' | i18n)]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <div>
          {{'home_nav' | i18n}}
        </div>
      </a>
      <a [routerLink]="[('contact_nav_link' | i18n)]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <div>
          {{'contact_nav' | i18n}}
        </div>
      </a>
      <a [routerLink]="[('skills_nav_link' | i18n)]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <div>
          {{'skills_nav' | i18n}}
        </div>
      </a>
    </div>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
